
#serraTurismo {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    width: 20em;
}

#onibus {
    width: 100%;
    height: 100%; 
    vertical-align: middle;
}

.imagemOnibus {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center; 
}

.titulo {
    margin: 1em;
    font-size: 48px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1322px;
    margin: 5%;
    margin-left: 18%;
}

#imagemContainer {
    width: 636px;
    border-radius: 10px;
}

.container > p {
    align-self: center;
    font-size: 20px;
}

.textoContainer {
    margin: 3em;
}

.textoContainer > .titulo {
    align-self: flex-start;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
