.Kayque{
    width: 2000px;
    text-align: center;
    bottom: 50px;
    height: 300px;

}

.Enzo{
    width: 2000px;
    text-align: center;
    bottom: 50px;
    height: 300px;
}

.Ana{
    width: 2000px;
    text-align: center;
    bottom: 50px;
    height: 300px;
}

.Miguel{
    width: 2000px;
    text-align: center;
    bottom: 50px;
    height: 300px;
}


.Mateus{
    width: 2000px;
    text-align: center;
    bottom: 50px;
    height: 300px;
}